#aside {
  width: 28%;
  height: 100vh;
  position: fixed;
  background: #414966;
  z-index: 100;
  .save-button{
    &:hover {
      background-color: #318034!important;
    }
  }
  .upload-button{
    &:hover {
      background-color: #1688ac!important;
    }
  }
  .details-wrapper{
    max-height: 100%;
    overflow: auto;
    height: calc(100vh - 200px);
  }
  .attach-coupon-but {
    margin-top: 12px;
    background-color: #32a8cd;
    width: 100%;
    height: 40px;
    color: white;
    object-fit: contain;
    border: solid 1px transparent;
    outline: none;
  }

  .title{
    text-align: center;
    font-size: 48px;
    color: white;
    margin-top: 20px;
  }
  .default{
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
  }
  .notes{
    font-size: 12px;
    margin-bottom: 0;
    color: white;
  }
  .rectangle{
    padding: 10px;
    border: 1px solid white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  textarea{
    outline: none;
  }
  input{
    outline: none;
  }
}
