#preview{
  padding: 10px;
  height: 100vh;
  .user-description{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 50px;
  }
  .description-labels{
    padding: 10px;
  }
  .data-labels{
    margin-bottom: 0;
    font-size: 20px;
    color:#a7a7a7;
  }
  .data-text{
    font-size: 24px;
  }

  .alert-container{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 50px;
  }

  .alert-child{
    width: 300px;
    height: 50px;
    background-color: #cd2727;
    color: white;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;

  }
  .alert-shown {
    opacity: 1;
    margin-top: -50px;
    transition: all 500ms linear;
  }

  .alert-hidden {
    opacity: 0;
    margin-top: 50px;
    transition: all 500ms linear;
  }
}